html {
  font-size: 100%;
}

body {
  color: #121212;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.7;
  font-family: "Hiragino Kaku Gothic ProN";
  overflow-x: hidden;
}

a {
  color: #121212;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.section-title {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 30px;
}

#header {
  width: 100%;
  height: 80px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  /* 1st line */
  /* 2nd line */
  /* 3rd line */
  /* 1st active -45deg */
  /* 2nd active */
  /* 3rd active */
}
#header .logo {
  line-height: 1px;
}
#header #menu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 60px 25px;
  text-align: left;
  background-color: #121212;
  -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  opacity: 0;
  visibility: hidden;
}
#header #menu a {
  color: #fff;
}
#header #menu.active {
  opacity: 1;
  visibility: visible;
}
#header .sections {
  margin-bottom: 65px;
}
#header .section {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
#header .section:nth-child(1) {
  border-top: 1px solid #fff;
}
#header .socialmedia {
  padding-bottom: 10px;
}
#header .lines {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
#header .lines:hover {
  opacity: 0.7;
}
#header .line {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#header .lines.active .line {
  background-color: #fff;
}
#header .line:nth-child(1) {
  top: 4px;
}
#header .line:nth-child(2) {
  top: 14px;
}
#header .line:nth-child(3) {
  bottom: 4px;
}
#header .lines.active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
#header .lines.active .line:nth-child(2) {
  display: none;
}
#header .lines.active .line:nth-child(2), #header .lines.active .line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#header .mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#header .mask.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

#mainvisual .video {
  width: 100%;
  padding-top: 80px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#pickup {
  padding: 100px 0 50px 0;
}
#pickup .swiper-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#pickup .swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#pickup .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#pickup .pickup-img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}
#feature .gridcontainer {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#feature .card {
  -webkit-box-shadow: 0 0 8px 4px #ccc;
          box-shadow: 0 0 8px 4px #ccc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#feature img {
  vertical-align: top;
}
#feature .text {
  padding: 30px;
}
#feature .category, #feature .date {
  font-size: 0.75rem;
}
#feature .date {
  text-align: right;
}
#feature .sampletext {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 20px 0;
}

#contact {
  background-color: #121212;
  color: #fff;
  padding: 50px 0;
}
#contact .contact-inner {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#contact .info, #contact .form {
  width: 45%;
}
#contact .info p {
  margin-bottom: 30px;
}
#contact input, #contact textarea {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}
#contact .button input {
  width: 200px;
  color: #fff;
  background-color: #121212;
  border: solid 1px #fff;
  padding: 12px 0;
  margin-bottom: 0;
}
#contact .button input:hover {
  color: #202020;
  background-color: #fff;
}

#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  #header {
    padding: 20px 16px;
  }
  #header .lines {
    right: 20px;
  }
  #feature {
    padding: 80px 16px;
  }
  #feature .text {
    padding: 16px;
  }
  #contact {
    padding: 80px 0;
  }
  #contact .contact-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .info, #contact .form {
    width: 100%;
  }
  #contact .button input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */